### I will import pandas and data from the wikipedia page, then check dataframe's basic features to see if import was successfull.

In [1]:
import pandas as pd
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [2]:
df.shape

(288, 3)

In [3]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Excluding "Not assigned" boroughs from further analysis, re-checking dataframe

In [4]:
df = df[df.Borough !="Not assigned"]
df.shape

(211, 3)

In [5]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

### Grouping data on Postcode level, applying join with "," separator to keep all neighbourhood information. Result saved in a new dataframe.

In [6]:
df_new = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()
df_new.shape

(103, 3)

### Checking if there is any 'Not assigned' neighbourhoods

In [7]:
df_new.loc[df_new['Neighbourhood']=='Not assigned']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

### Overwriting 'Not assigned' neighbourhood with borough value and checking if it succeded

In [8]:
df_new['Neighbourhood'].loc[df_new['Neighbourhood']=='Not assigned']=df_new['Borough']
df_new.iloc[85:86]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

<h3> Saving notebook to CSV to be able to work with it in another notebook

In [9]:
df_new.to_csv('df_new.csv')

In [10]:
df_new.shape

(103, 3)